.vscode/**
.vscode-test/**
src/**
.gitignore
.gitattributes
.github/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.editorconfig
.prettierrc
.npmrc
node_modules/**
!node_modules/glob/**
!node_modules/balanced-match/**
!node_modules/brace-expansion/**
!node_modules/fs.realpath/**
!node_modules/inflight/**
!node_modules/inherits/**
!node_modules/minimatch/**
!node_modules/once/**
!node_modules/wrappy/**
